<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nanchen.scanner">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.camera.any" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <application>

        <activity
            android:name=".module.CaptureActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
